body{
    font-size: 14px;
    background-color: #f2f2f2;
}

.header_{
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/bg.jpg');
    background-position: top center;
    padding: 15px;
}

.input_{
    display: flex;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}

.input_ > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.input_ > input{
    padding: 0 15px;
    color: #666;
    width: 100%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.body_{
    padding: 20px;
    background-color: #fff;
}

h3{
    font-size: 16px;
    position: relative;
}

.row{
    margin: 0 -10px
}

.row > [class*="col-"]{
    padding: 0 10px;
}

h3.special{
    padding-right: 20px;
}

h3.special img{
    width: 20px;
    position: absolute;
    right: 0;
}

.box_{
    padding: 15px;
    background-color: #f2f2f2;
    margin-top: 10px;
    height: calc(100% - 10px);
}

.box_ h3{
    font-size: 14px;
    text-align: center;
    word-break: break-all;
}

.box_img_{
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    width: 40px;
    margin: 0 auto;
}

.box_img_ img{
    max-width: 20px;
    opacity: 0.2;
}

hr{
    opacity: .7;
    margin: 30px 0;
}

.icon_h img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
    margin-top: -2px;
}

.nav.nav-pills{
    flex-wrap: nowrap;
    overflow: hidden;
}

.nav.nav-pills .nav-link{
    padding: 15px;
    background-color: rgb(206, 231, 255);
    text-align: center;
    border-radius: 0;
}

.nav.nav-pills .nav-link.active{
    background-color: rgb(221, 239, 255);
}

.nav.nav-pills .box_img_{
    margin-bottom: 10px;
    width: calc(60%);
}

.nav.nav-pills .box_img_ img{
    opacity: 1;
}

.nav.nav-pills img{
    max-width: 100%;
}

.nav.nav-pills h3{
    font-size: 12px;
    color: #555;
    margin-bottom: 0;
}

.nav.nav-pills .nav-link.active h3{
    color: #888;
}

.tab_container{
    box-shadow: 1px 1px 5px rgba(54,54,54,.3);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
}

.tab_content_{
    padding: 15px;
}

.tab_content_ h4{
    color: #ccc;
    font-size: 12px;
    margin-bottom: 0;
}

.tab_content_ h3{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: uppercase;
}

.tab_content_ a{
    color: rgb(0, 140, 255);
    text-decoration: underline;
}

.btn_outline{
    border: 1px solid rgb(0, 140, 255);
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 12px;
    color: rgb(0, 140, 255);
    border-radius: 5px;
}

.navigation{
    display: flex;
    list-style-type: none;
    margin: 20px -20px -20px;
    padding: 0;
    padding: 10px;
    background-color: #f9f9f9;
}

.navigation li{
    flex: 0 0 25%;
    text-align: center;
    font-size: 10px;
}

.navigation li a{
    color: #888;
    transition: ease all .3s;
}

.navigation li a.active, .navigation li a:hover{
    color: #f66566;
    font-weight: bold;
    text-decoration: none !important;
}

.navigation li i{
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
}

.navigation li a.active img{
    filter: sepia(100%);
}